@tailwind base;
@tailwind components;
@tailwind utilities;

.toast {
    width: 300px;
    min-height: 100px;
    padding: 30px;
    color: 8E8E92;
    background-color: #18181B;
    position: absolute;
    top: 20px;
    right: 20px;
    position: fixed;
    border: 1px solid;
    border-color: hsl(var(--nextui-primary));
    z-index: 100;
}

.toastDesc {
    word-wrap: break-word;
}